{% extends 'base.html' %}
{% load static %}

{% block title %}
    Политика конфиденциальности — Sandco.kz
{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid inner_header inner_header_white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>Политика конфиденциальности</h1>
                        <ul>
                            <li><a href="/">Главная</a> /</li>
                            <li>Политика конфиденциальности</li>
                        </ul>
                    </div>
                </div>
            </div>
            <picture>
                <img src="{% static 'img/slide.webp' %}" alt="">
            </picture>
        </div>
        <div class="container mb-5">
            <div class="row">
                <div class="col">
                    <p>Политика конфиденциальности</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}