{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ project.title }} — Sandco.kz
{% endblock %}

{% block meta_keywords %}
    {{ project.keywords }}
{% endblock %}

{% block meta_description %}
    {{ project.description }}
{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid inner_header inner_header_white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>{{ project.title }}</h1>
                        <ul>
                            <li><a href="/">Главная</a> /</li>
                            <li><a href="{% url 'catalog:company' %}">Компания</a> /</li>
                            <li><a href="{% url 'catalog:projects' %}">Проекты</a> /</li>
                            <li>{{ project.title }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <picture>
                <img src="{% static 'img/slide.webp' %}" alt="{{ project.keywords }} - {{ project.description }}" title="{{ project.keywords }} - {{ project.description }}">
            </picture>
        </div>
        <div class="container-fluid inner_about">
            <div class="container mb-5">
                <div class="row">
                    <div class="col-lg-6 project_photos">
                        <div class="ratio ratio-4x3" data-src="{{ project.image.url }}" data-fancybox="gal">
                            <div>
                                <picture>
                                    <img src="{{ project.image.url }}" alt="{{ project.image_alt }}" title="{{ project.image_title }}">
                                </picture>
                            </div>
                        </div>
                        {% if photos %}
                            <div class="mini_photos">
                                {% for photo in photos %}
                                    <div class="ratio ratio-16x9" data-src="{{ photo.image.url }}" data-fancybox="gal">
                                        <div>
                                            <picture>
                                                <img src="{{ photo.image.url }}" alt="{{ photo.image_alt }}" title="{{ photo.image_title }}">
                                            </picture>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-lg-4 offset-lg-1 project_text">
                        <span class="project_date">{{ project.date }}</span>
                        {{ project.text|safe }}
                        <p class="mt-3"><strong>В проекте использовался</strong></p>
                        {% for product in products %}
                            <button onclick="window.location.href = '{% url 'catalog:product-details' slug=product.slug %}';">
                                {{ product.title }}
                                <picture>
                                    <img src="{% static 'img/more_1.svg' %}" alt="">
                                </picture>
                            </button>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if projects.count > 1 %}
                <div class="container block_4 mb-5">
                    <hr class="line_1">
                    <div class="row">
                        <div class="col-12 text-center text-sm-start">
                            <h2>Портфолио проектов</h2>
                        </div>
                        <div class="col-12 mt-5 mt-sm-0">
                            <div class="owl-carousel owl-theme carousel_1">
                                {% for item in projects %}
                                    {% if item.slug != project.slug %}
                                        <div class="item">
                                            <div class="card_1">
                                                <picture>
                                                    <img src="{{ item.image.url }}" alt="{{ item.image_alt }}" title="{{ item.image_title }}">
                                                </picture>
                                                <a href="{% url 'catalog:project-details' slug=item.slug %}" class="more">
                                                    <picture>
                                                        <img src="{% static 'img/more_1.svg' %}" alt="">
                                                    </picture>
                                                </a>
                                                <div class="card_text">
                                                    <span>{{ item.date }}</span>
                                                    <a href="{% url 'catalog:project-details' slug=item.slug %}">{{ item.title }}</a>
                                                    <p>{{ item.announcement }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}