<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Sandco — Виды</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="fav.png" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css?v=5">
</head>

<body class="d-flex flex-column vh-100">

    <header class="nav-down">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="h_1">
                        <a href="#">
                            <picture>
                                <img src="img/logo.svg" alt="">
                            </picture>
                        </a>
                    </div>
                    <div class="h_2">
                        <button class="d-none d-md-flex catalog">
                            <!-- class="active_catalog" Для активного каталога -->
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.75 4.7478L18.25 4.75255M8.75 10L18.25 10.0047M8.75 15.25H18.25M1.75 4.7478L4.25 4.74948M1.75 10L4.25 10.0017M1.75 15.25H4.25"
                                    stroke="#131313" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                            Библиотека
                        </button>
                        <ul class="menu d-none d-xl-flex">
                            <li>
                                <a href="#">
                                    Компания
                                    <picture>
                                        <img src="img/arrow_down.svg" alt="">
                                    </picture>
                                </a>
                                <ul>
                                    <li><a href="#">Истоки</a></li>
                                    <li><a href="#">О продукте</a></li>
                                    <li><a href="#">Проекты</a></li>
                                    <li><a href="#">Команда</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                        <button class="application" data-bs-toggle="modal" data-bs-target="#application">
                            Сделать заказ
                        </button>
                        <div class="dropdown d-none d-xl-block">
                            <button class="language" id="dropdownMenuButton1" data-bs-toggle="dropdown">
                                Ру
                                <picture>
                                    <img src="img/arrow_down.svg" alt="">
                                </picture>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Ру</a></li>
                                <li><a class="dropdown-item" href="#">En</a></li>
                                <li><a class="dropdown-item" href="#">Кз</a></li>
                            </ul>
                        </div>
                        <picture class="d-xl-none" data-bs-toggle="offcanvas" data-bs-target="#menu">
                            <img src="img/menu_hamburger.svg" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container-fluid inner_header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>Виды</h1>
                        <ul>
                            <li><a href="#">Главная</a> /</li>
                            <li><a href="#">Библиотека</a> /</li>
                            <li><a href="#">Для фильтров очистки воды</a> /</li>
                            <li>Хиямс</li>
                        </ul>
                    </div>
                </div>
            </div>
            <picture>
                <img src="img/bg.png" alt="">
            </picture>
        </div>
        <div class="container-fluid inner_block_2 inner_block_2_2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ratio ratio-4x3" data-src="img/about.png" data-fancybox="gal">
                            <div>
                                <picture>
                                    <img src="img/about.png" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="mini_photos">
                            <div class="ratio ratio-1x1" data-src="img/about.png" data-fancybox="gal">
                                <div>
                                    <picture>
                                        <img src="img/about.png" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="ratio ratio-1x1" data-src="img/about.png" data-fancybox="gal">
                                <div>
                                    <picture>
                                        <img src="img/about.png" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="ratio ratio-1x1" data-src="img/about.png" data-fancybox="gal">
                                <div>
                                    <picture>
                                        <img src="img/about.png" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="ratio ratio-1x1" data-src="img/about.png" data-fancybox="gal">
                                <div>
                                    <picture>
                                        <img src="img/about.png" alt="">
                                    </picture>
                                </div>
                            </div>
                            <div class="ratio ratio-1x1" data-src="img/about.png" data-fancybox="gal">
                                <div>
                                    <picture>
                                        <img src="img/about.png" alt="">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="product_inner_description">
                            <h2>Хиямс</h2>
                            <div class="table_row">
                                <div>
                                    <b>Вид</b>
                                </div>
                                <div class="text-end">
                                    Мелкозернистый кварцпесок
                                </div>
                            </div>
                            <div class="table_row">
                                <div>
                                    <b>Направления</b>
                                </div>
                                <div class="text-end">
                                    Для сухих строительных смесей
                                </div>
                            </div>
                            <div class="table_row_2">
                                <div>
                                    <b>Фракции песка</b>
                                </div>
                                <ul>
                                    <li>0.1 — 0.3</li>
                                    <li>0.1 — 0.5</li>
                                    <li>0.1 — 0.8</li>
                                    <li>0.1 — 1.0</li>
                                    <li>0.4 — 0.9</li>
                                </ul>
                            </div>
                            <button data-bs-toggle="modal" data-bs-target="#application">Заказать партию</button>
                            <p>Белоснежный и мягкий песок, который навевает воспоминания о лучших морских побережьях. Поэтому подойдет для
                                создания уникального ландшафт-дизайна.</p>
                            <p>В совершенно других отраслях – например, сельское хозяйство – такой мелкий песок тоже используется. Его
                                применяют для возведения водоочистных сооружений</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid inner_block_3">
            <div class="container block_4 block_4_2">
                <div class="row">
                    <div class="col-12 text-center text-sm-start">
                        <h2><span>Проекты с</span> «Хиямс»</h2>
                    </div>
                    <div class="col-12 mt-5 mt-sm-0">
                        <div class="owl-carousel owl-theme carousel_1">
                            <div class="item">
                                <div class="card_1">
                                    <picture>
                                        <img src="img/img_1.png" alt="">
                                    </picture>
                                    <a href="#" class="more">
                                        <picture>
                                            <img src="img/more_1.svg" alt="">
                                        </picture>
                                    </a>
                                    <div class="card_text">
                                        <span>01 марта 2024</span>
                                        <a href="#">ALASH ARENA</a>
                                        <p>Сырье для укладки газона футбольного поля стадиона</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card_1">
                                    <picture>
                                        <img src="img/img_1.png" alt="">
                                    </picture>
                                    <a href="#" class="more">
                                        <picture>
                                            <img src="img/more_1.svg" alt="">
                                        </picture>
                                    </a>
                                    <div class="card_text">
                                        <span>01 марта 2024</span>
                                        <a href="#">ALASH ARENA</a>
                                        <p>Сырье для укладки газона футбольного поля стадиона</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card_1">
                                    <picture>
                                        <img src="img/img_1.png" alt="">
                                    </picture>
                                    <a href="#" class="more">
                                        <picture>
                                            <img src="img/more_1.svg" alt="">
                                        </picture>
                                    </a>
                                    <div class="card_text">
                                        <span>01 марта 2024</span>
                                        <a href="#">ALASH ARENA</a>
                                        <p>Сырье для укладки газона футбольного поля стадиона</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card_1">
                                    <picture>
                                        <img src="img/img_1.png" alt="">
                                    </picture>
                                    <a href="#" class="more">
                                        <picture>
                                            <img src="img/more_1.svg" alt="">
                                        </picture>
                                    </a>
                                    <div class="card_text">
                                        <span>01 марта 2024</span>
                                        <a href="#">ALASH ARENA</a>
                                        <p>Сырье для укладки газона футбольного поля стадиона</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container block_4 pt-1">
                <hr class="line_1">
                <div class="row">
                    <div class="col-12 text-center text-sm-start">
                        <h2>Основные направления</h2>
                    </div>
                    <div class="col-12 mt-5 mt-sm-0">
                        <div class="owl-carousel owl-theme carousel_3">
                            <div class="item">
                                <div class="card_2">
                                    <a href="#">
                                        <picture>
                                            <img src="img/img_1.png" alt="">
                                        </picture>
                                    </a>
                                    <a href="#" class="more">
                                        <picture>
                                            <img src="img/more_2.svg" alt="">
                                        </picture>
                                    </a>
                                    <div class="card_text">
                                        <a href="#">Для пескоструйных работ</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card_2">
                                    <a href="#">
                                        <picture>
                                            <img src="img/img_1.png" alt="">
                                        </picture>
                                    </a>
                                    <a href="#" class="more">
                                        <picture>
                                            <img src="img/more_2.svg" alt="">
                                        </picture>
                                    </a>
                                    <div class="card_text">
                                        <a href="#">Для пескоструйных работ</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card_2">
                                    <a href="#">
                                        <picture>
                                            <img src="img/img_1.png" alt="">
                                        </picture>
                                    </a>
                                    <a href="#" class="more">
                                        <picture>
                                            <img src="img/more_2.svg" alt="">
                                        </picture>
                                    </a>
                                    <div class="card_text">
                                        <a href="#">Для пескоструйных работ</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card_2">
                                    <a href="#">
                                        <picture>
                                            <img src="img/img_1.png" alt="">
                                        </picture>
                                    </a>
                                    <a href="#" class="more">
                                        <picture>
                                            <img src="img/more_2.svg" alt="">
                                        </picture>
                                    </a>
                                    <div class="card_text">
                                        <a href="#">Для пескоструйных работ</a>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card_2">
                                    <a href="#">
                                        <picture>
                                            <img src="img/img_1.png" alt="">
                                        </picture>
                                    </a>
                                    <a href="#" class="more">
                                        <picture>
                                            <img src="img/more_2.svg" alt="">
                                        </picture>
                                    </a>
                                    <div class="card_text">
                                        <a href="#">Для пескоструйных работ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="mt-auto">
        <div class="container-fluid block_8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-11 offset-lg-1">
                        <div class="row align-items-center">
                            <div class="col-xl-4">
                                <h2>Расскажите</h2>
                                <h3>о своем проекте</h3>
                                <p>А мы подберем для него правильное решение и поможем в реализации.</p>
                            </div>
                            <div class="col-xl-6 offset-xl-2 mt-5 mt-xl-0">
                                <form action="#" method="post" class="needs-validation" novalidate>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="text" name="name" placeholder="Имя" class="form-control" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" name="phone" placeholder="Телефон" class="phonee form-control" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="email" name="mmail" placeholder="E-mail" class="form-control" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="submit" value="Отправить заявку" class="send">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="f_1">
                            <a href="#">
                                <picture>
                                    <img src="img/logo_footer.svg" alt="">
                                </picture>
                            </a>
                        </div>
                        <div class="f_1">
                            <ul>
                                <li><a href="#">Библиотека</a></li>
                                <li><a href="#">Компания</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Контакты</a></li>
                            </ul>
                        </div>
                        <div class="f_1">
                            <div class="f_1_1">
                                <div>
                                    <picture>
                                        <img src="img/phone.svg" alt="">
                                    </picture>
                                </div>
                                <div>
                                    <span>Приемная</span>
                                    <a href="tel:+77162411005">8 (7162) 41-10-05</a>
                                    <br>
                                    <span>Отдел продаж</span>
                                    <a href="tel:+77474109501">8 (747) 410-95-01</a>
                                    <a href="tel:+77162723082">8 (7162) 72-30-82</a>
                                </div>
                            </div>
                        </div>
                        <div class="f_1">
                            <div class="f_1_1">
                                <div>
                                    <picture>
                                        <img src="img/location.svg" alt="">
                                    </picture>
                                </div>
                                <div>
                                    <span>Адрес</span>
                                    <p>Кокшетау, Северная промзона, проезд 3, д. 62</p>
                                </div>
                            </div>
                        </div>
                        <div class="f_1">
                            <div class="f_1_1">
                                <div>
                                    <picture>
                                        <img src="img/email.svg" alt="">
                                    </picture>
                                </div>
                                <div>
                                    <span>Наша почта</span>
                                    <a href="mailto:sales@sf-namys.kz">sales@sf-namys.kz</a>
                                </div>
                            </div>
                            <button>
                                <picture>
                                    <img src="img/menu.svg" alt="">
                                </picture>
                                Перейти в библиотеку
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row cpy">
                    <hr>
                    <div class="col-lg-4 text-center text-lg-start">
                        © 2024 Sandco
                    </div>
                    <div class="col-lg-4 text-center mt-4 mt-lg-0">
                        <a href="#">Политика конфиденциальности</a>
                    </div>
                    <div class="col-lg-4 text-center text-lg-end mt-4 mt-lg-0">
                        <a href="https://losdesign.ru" target="_blank">Разработка сайта</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="menu">
        <div class="offcanvas-body">
            <picture data-bs-dismiss="offcanvas" class="close">
                <img src="img/close.svg" alt="" width="10" height="10">
            </picture>
            <div class="row">
                <div class="col">
                    <button class="d-flex m-4 d-md-none catalog">
                        <!-- class="active_catalog" Для активного каталога -->
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.75 4.7478L18.25 4.75255M8.75 10L18.25 10.0047M8.75 15.25H18.25M1.75 4.7478L4.25 4.74948M1.75 10L4.25 10.0017M1.75 15.25H4.25"
                                stroke="#131313" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        Библиотека
                    </button>
                    <ul>
                        <li>
                            <a href="#">Компания</a>
                            <ul>
                                <li><a href="#">Истоки</a></li>
                                <li><a href="#">О продукте</a></li>
                                <li><a href="#">Проекты</a></li>
                                <li><a href="#">Команда</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                    <div class="dropdown">
                        <button class="language w-100" id="dropdownMenuButton2" data-bs-toggle="dropdown">
                            Ру
                            <picture>
                                <img src="img/arrow_down.svg" alt="">
                            </picture>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item" href="#">Ру</a></li>
                            <li><a class="dropdown-item" href="#">En</a></li>
                            <li><a class="dropdown-item" href="#">Кз</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="application" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Онлайн заявка</h5>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Онлайн заявка
                </div>
            </div>
        </div>
    </div>

    <!-- Стили -->
    <link rel="stylesheet" href="css/owl.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css">
    <!-- Скрипты -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>